# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook Checkpoints
.ipynb_checkpoints

# VS Code files
.vscode/

# Environment / packages
.env
.venv
ENV/
venv/

# Data
*.csv
!data/online_retail.csv
!data/rfm_segmented.csv

# Images
images/*.png

# Streamlit cache
.streamlit/

# OS files
.DS_Store
Thumbs.db
